@model logic.systems.school.managment.Dto.GradeConfigDTO

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lançamento de Notas</li>
    </ol>
</nav>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body pb-0 pt-2">
            <h2>Lançamento de Notas</h2>
        </div>
    </div>
</div>



<form asp-action="Config" asp-controller="grade">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                @if (ViewData.ModelState.IsValid)
                {

                }
                else
                {
                    <div id="validation-summary" class="alert alert-danger" role="alert">
                        <p><strong>Por favor, corrija os seguintes erros:</strong></p>
                    </div>
                }

                <div class="alert alert-danger" role="alert" id="msg-summary" style="display: @(string.IsNullOrEmpty(ViewBag.MensagemError) ? "none" : "block")">
                    <p><strong>@ViewBag.MensagemError</strong></p>
                </div>




                <fieldset class="border p-2 pb-0">
                    <legend class="w-auto">Configuração </legend>

                    <div class="form-row mb-4">
                        <div class="col-md-12">
                            <label for="">Classe</label>
                            <select class="form-control form-control-lg pb-3 pt-3" asp-for="ClassLevel" id="SchoolLevels">
                                <option selected>...</option>
                                @foreach (SimpleEntity item in ViewBag.SchoolLevels)
                                {
                                    <option value="@item.Id">@item.Description</option>
                                }
                            </select>
                            <span asp-validation-for="ClassLevel" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row mb-4">
                        <div class="col-md-12">
                            <label for="">Turma</label>
                            <select class="form-control form-control-lg pb-3 pt-3" asp-for="ClassRoom" id="SchoolClassRooms">
                                <option selected>...</option>
                                @foreach (SimpleEntity item in ViewBag.SchoolClassRooms)
                                {
                                    <option value="@item.Id">@item.Description</option>
                                }
                            </select>
                            <span asp-validation-for="ClassRoom" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-row mb-4">
                        <div class="col-md-12">
                            <label for="">Disciplina</label>
                            <select class="form-control form-control-lg pb-3 pt-3" asp-for="Subject" id="Subjects">
                                <option selected>...</option>
                                @foreach (SimpleEntity item in ViewBag.Subjects)
                                {
                                    <option value="@item.Id">@item.Description</option>
                                }
                            </select>
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-row mb-4">
                        <div class="col-md-12">
                            <label for="">Trimestre</label>
                            <select class="form-control form-control-lg pb-3 pt-3" asp-for="Quarter" id="Quarter">
                                <option selected>...</option>
                                @foreach (var item in ViewBag.Quarters)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                            <span asp-validation-for="Quarter" class="text-danger"></span>
                        </div>
                    </div>

                </fieldset>

                <fieldset class="border p-2">
                    <legend class="w-auto">Ações</legend>
                    <div class="template-demo">
                        <button type="submit" class="btn btn-info btn-icon-text" onclick="DisableSubmit()" id="submitBtn">
                            Lançar notas
                            <i class="typcn typcn-edit btn-icon-append"></i>
                        </button>

                    </div>
                </fieldset>




            </div>
        </div>
    </div>


</form>




@section scripts {

    <script>
        $(document).ready(function () {
            $("#SchoolLevels").change(function () {
                var ProvincesId = $("#SchoolLevels").val();
                $.ajax({
                    url: '/admin/GetSubjects',
                    type: 'GET',
                    data: { Id: ProvincesId },
                    success: function (districts) {
                        $("#Subjects").empty();

                        // Adiciona a opção padrão
                        $("#Subjects").append($('<option>', {
                            value: '',
                            text: '--- Selecione a Matéria ---', // Você pode alterar o texto conforme necessário
                            selected: true // Define o atributo 'selected' como true
                        }));

                        // Adiciona outras opções da chamada ajax
                        $.each(districts, function (index, result) {
                            $("#Subjects").append($('<option>', {
                                value: result.id,
                                text: result.description
                            }));
                        });
                    }
                });
            });
        });

    </script>

} 