@model logic.systems.school.managment.Dto.AssessmentCreateDTO
<link rel="stylesheet" href="~/css/EditViewBen.css" />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lançamento de Notas</li>
    </ol>
</nav>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body pb-0 pt-2">
            <h2>Visualização de Notas</h2>
        </div>
    </div>
</div>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">



            @if (Model.Assessments.Count <= 0)
            {
                <div class="alert alert-warning mb-0 pb-0 mt-0 pt-0" role="alert" id="msg-summary">
                    <p><center><strong>Sem dados para o filtro escolhido</strong></center></p>
                </div>

            }
            else
            {

                <div class="alert alert-success" role="alert" id="msg-summary" style="display: @(string.IsNullOrEmpty(ViewBag.Mensagem) ? "none" : "block")">
                    <p><strong>@ViewBag.Mensagem</strong></p>
                </div>


                <fieldset class="border pt-0 mt-0 p-2 pb-0">
                    <legend class="w-auto p-0 m-0 ">Cabeçalho </legend>

                    <div class="table-responsive  p-0 m-0">
                        <table class="MytabelaItens  p-0 m-0" id="tabelaItens" border="1">
                            <thead>
                                <tr>

                                    <th><center>Classe     </center>             </th>
                                    <th><center>Turma      </center>             </th>
                                    <th><center>Disciplina </center>             </th>
                                    <th><center>Ano  </center>             </th>
                                    <th><center>Professor  </center>             </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td><center>@ViewBag.GradeHeader.ClassLevel     </center>       </td>
                                    <td><center>@ViewBag.GradeHeader.ClassRoom      </center>       </td>
                                    <td><center>@ViewBag.GradeHeader.Subject        </center>       </td>
                                    <td><center>@ViewBag.GradeHeader.EnrollmentYears        </center>       </td>
                                    <td><center> "n/a"                              </center>       </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </fieldset>
                <form asp-action="Create" method="post">



                    <fieldset class="border pt-0 mt-0 p-2 pb-0">
                        <legend class="w-auto p-0 m-0 ">Lista </legend>

                        <div class="table-responsive  p-0 m-0">
                            <table class="MytabelaItens p-0 m-0 w-100" id="tabelaItens" border="1">
                                <thead>
                                    <!-- Cabeçalho principal da tabela -->
                                    <tr>
                                        <th style="border: 1px solid black; background-color:white;" colspan="2"> </th>
                                        <th style="border: 1px solid black;" colspan="6"><center> 1º Trimestre </center></th>

                                        <th style="border: 1px solid black;" colspan="6"><center> 2º Trimestre </center></th>

                                        <th style="border: 1px solid black;" colspan="6"><center> 3º Trimestre </center></th>
                                        <th style="border: 1px solid black; background-color:white;"> </th>
                                    </tr>
                                    <!-- Cabeçalhos ACS e AP -->
                                    <tr>
                                        <th style="border: 1px solid black; background-color:white;" colspan="2"> </th>
                                        <th style="border: 1px solid black;" colspan="4"><center>ACS</center></th>
                                        <th style="border: 1px solid black;" colspan="2">AP</th>

                                        <th style="border: 1px solid black;" colspan="4"><center>ACS</center></th>
                                        <th style="border: 1px solid black;" colspan="2">AP</th>


                                        <th style="border: 1px solid black;" colspan="4"><center>ACS</center></th>
                                        <th style="border: 1px solid black;" colspan="2">AP</th>

                                        <th style="border: 1px solid black; background-color:white;"> </th>
                                    </tr>
                                    <!-- Cabeçalhos individuais -->
                                    <tr>
                                        <th><center> # </center></th>
                                        <th><center> Nome </center></th>

                                        <th><center> 1ª </center></th>
                                        <th><center> 2ª </center></th>
                                        <th><center> 3ª </center></th>
                                        <th><center> MACS </center></th>
                                        <th><center> 1ª AP </center></th>
                                        <th><center> MT </center></th>

                                        <th><center> 1ª </center></th>
                                        <th><center> 2ª </center></th>
                                        <th><center> 3ª </center></th>
                                        <th><center> MACS </center></th>
                                        <th><center> 1ª AP </center></th>
                                        <th><center> MT </center></th>

                                        <th><center> 1ª </center></th>
                                        <th><center> 2ª </center></th>
                                        <th><center> 3ª </center></th>
                                        <th><center> MACS </center></th>
                                        <th><center> 1ª AP </center></th>
                                        <th><center> MT </center></th>

                                        <th><center> MA </center></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (int i = 0; i < Model.Assessments.Count; i += 3)
                                    {
                                        <tr>
                                            @for (int j = i; j < i + 3 && j < Model.Assessments.Count; j++)
                                            {
                                                @if (j == i)
                                                {
                                                    <td class="nwrap"><center>@Model.Assessments[j].Quarter.Enrollment.Student.Id</center></td>
                                                    <td class="nwrap"><center>@Model.Assessments[j].Quarter.Enrollment.Student.Name</center></td>
                                                }

                                                var Grades_0 = @Model.Assessments[j].Grades[0].Value.HasValue ? @Model.Assessments[j].Grades[0].Value.Value.ToString() : "";
                                                var Grades_1 = @Model.Assessments[j].Grades[1].Value.HasValue ? @Model.Assessments[j].Grades[1].Value.Value.ToString() : "";
                                                var Grades_2 = @Model.Assessments[j].Grades[2].Value.HasValue ? @Model.Assessments[j].Grades[2].Value.Value.ToString() : "";
                                                var Grades_3 = @Model.Assessments[j].Grades[3].Value.HasValue ? Model.Assessments[j].Grades[3].Value.Value.ToString() : "";


                                                <td> <input disabled value="@Grades_0" type="text" style="width: 100%; min-width: 50px; @((int.TryParse(Grades_0, out int grade0)) ? (grade0 == 0 ? "" : (grade0 < 10 ? "background-color: lightcoral;" : "background-color: lightgreen;")) : "")" /> </td>
                                                <td> <input disabled value="@Grades_1" type="text" style="width: 100%; min-width: 50px; @((int.TryParse(Grades_1, out int grade1)) ? (grade1 == 0 ? "" : (grade1 < 10 ? "background-color: lightcoral;" : "background-color: lightgreen;")) : "")" /> </td>
                                                <td> <input disabled value="@Grades_2" type="text" style="width: 100%; min-width: 50px; @((int.TryParse(Grades_2, out int grade2)) ? (grade2 == 0 ? "" : (grade2 < 10 ? "background-color: lightcoral;" : "background-color: lightgreen;")) : "")" /> </td>
                                                <td><input disabled type="text" value="@Model.Assessments[j].GetACSAverage()" style="width: 100%; min-width: 50px; @(Model.Assessments[j].GetACSAverage() == 0 ? "" : Model.Assessments[j].GetACSAverage() < 10 ? "background-color: lightcoral;" : "background-color: lightgreen;")" /></td>
                                                <td> <input disabled value="@Grades_3" type="text" style="width: 100%; min-width: 50px; @((int.TryParse(Grades_3, out int grade3)) ? (grade3 == 0 ? "" : (grade3 < 10 ? "background-color: lightcoral;" : "background-color: lightgreen;")) : "")" /> </td>
                                                <td><input disabled type="text" value="@Model.Assessments[j].GetQuarterAverage()" style="width: 100%; min-width: 50px; @(Model.Assessments[j].GetQuarterAverage() == 0 ? "" : Model.Assessments[j].GetQuarterAverage() < 10 ? "background-color: lightcoral;" : "background-color: lightgreen;")" /></td>
 
                                            }

                                            <td><input disabled value="@Model.Assessments[i].Quarter.Enrollment.GetYearQuartersAverage()" type="text" style="width: 100%; min-width: 50px; @(@Model.Assessments[i].Quarter.Enrollment.GetYearQuartersAverage() == 0 ? "" : @Model.Assessments[i].Quarter.Enrollment.GetYearQuartersAverage() < 10 ? "background-color: lightcoral;" : "background-color: lightgreen;")" /></td>
                                        </tr>
                                    }


                                </tbody>
                            </table>


                        </div>

                    </fieldset>


                </form>
            }







        </div>
    </div>
</div>





@section scripts {
    <script>
        $(document).ready(function () {
            // Oculta o alerta após 5 segundos
            setTimeout(function () {
                $('#msg-summary').fadeOut('slow');
            }, 5000);
        });
    </script>
}