@model logic.systems.school.managment.Dto.CreateStudantDTO

@{
    ViewData["Title"] = "Cadastrar estudante";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Dashboard</a></li>
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="studant">Lista de Estudantess</a><</li>
        <li class="breadcrumb-item active" aria-current="page">Cadastrar</li>
    </ol>
</nav>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body pb-0 pt-2">
            <h2>Cadastrar Estudante</h2>

        </div>
    </div>
</div>

<form asp-action="create" asp-controller="studant">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                @if (ViewData.ModelState.IsValid)
                {

                }
                else
                {
                    <div id="validation-summary" class="alert alert-danger" role="alert">
                        <p><strong>Por favor, corrija os seguintes erros:</strong></p>
                    </div>
                }

                <div class="alert alert-danger" role="alert" id="msg-summary" style="display: @(string.IsNullOrEmpty(ViewBag.MensagemError) ? "none" : "block")">
                    <p><strong>@ViewBag.MensagemError</strong></p>
                </div>

                <form class="needs-validation" novalidate>

                    <fieldset class="border p-2">
                        <legend class="w-auto">Dados do estudante</legend>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="">Nome completo</label>
                                <input type="text" class="form-control" asp-for="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">Data de Nasciento</label>
                                <input type="date" class="form-control date-input" asp-for="BirthDate">
                                <span asp-validation-for="BirthDate" class="text-danger"></span>
                            </div>
                        </div>



                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="">Naturalidade</label>
                                <input type="text" class="form-control" asp-for="Naturalness">
                                <span asp-validation-for="Naturalness" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="">Província</label>
                                <select class="form-control form-control-sm pb-3 pt-3" id="provinces">


                                    @foreach (OrgUnitProvince item in ViewBag.Provinces)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }

                                </select>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="">Distrito</label>
                                <select class="form-control form-control-sm pb-3 pt-3" id="district" asp-for="DistrictId">
                                    <option selected>...</option>

                                    @foreach (OrgUnitProvince item in ViewBag.Provinces)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }

                                </select>
                                <span asp-validation-for="DistrictId" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="form-row mb-3">
                            <div class="col-md-4">
                                <label for="">Sexo</label>     
                                <select class="form-control form-control-sm pb-3 pt-3" asp-for="Gender">
                                    @foreach (string item in ViewBag.Gender)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="">BI</label>
                                <input type="text" class="form-control" asp-for="PersonId">
                                <span asp-validation-for="PersonId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="">Nome do pai</label>
                                <input type="text" class="form-control" asp-for="FatherName">
                                <span asp-validation-for="FatherName" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">Nome da mãe</label>
                                <input class="form-control" asp-for="MatherName">
                                <span asp-validation-for="MatherName" class="text-danger"></span>
                            </div>
                        </div>

                        <fieldset class="border p-2 pb-0">
                            <legend class="w-auto">Dados pedagógicos</legend>

                           

                            <div class="form-row mb-4">
                                <div class="col-md-4">
                                    <label for="">Preço da inscrição</label>
                                    <input type="text" class="form-control" asp-for="EnrollmentPrice">
                                    <span asp-validation-for="EnrollmentPrice" class="text-danger"></span>
                                </div>  
                                <div class="col-md-4">
                                    <label for="">Preço da propina</label>
                                    <input type="text" class="form-control" asp-for="TuitionPrice">
                                    <span asp-validation-for="TuitionPrice" class="text-danger"></span>
                                </div> 
                            </div>

                            <div class="form-row mb-4">
                                <div class="col-md-3">
                                    <label for="">Matricular na Classe </label>
                                    <select class="form-control form-control-sm pb-3 pt-3" asp-for="CurrentSchoolLevelId" id="SelectSchoolLevel">
                                        <option selected>...</option>
                                        @foreach (SimpleEntity item in ViewBag.CurrentSchoolLevels)
                                        {
                                            <option value="@item.Id">@item.Description</option>
                                        }
                                    </select>
                                    <span asp-validation-for="CurrentSchoolLevelId" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label for="">Turma / Grupo</label>
                                    <select class="form-control form-control-sm pb-3 pt-3" asp-for="SchoolClassRoomId" id="SchoolClassRoom">
                                        <option selected>...</option>
                                        @foreach (SimpleEntity item in ViewBag.SchoolClassRooms)
                                        {
                                            <option value="@item.Id">@item.Description</option>
                                        }
                                    </select>
                                    <span asp-validation-for="SchoolClassRoomId" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label for="">Ano</label>
                                    <select class="form-control form-control-sm pb-3 pt-3" asp-for="EnrollmentYear" id="EnrollmentYear">
                                        <option selected>...</option>
                                        @foreach (var item in ViewBag.EnrollmentYears)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    </select>
                                    <span asp-validation-for="EnrollmentYear" class="text-danger " style="display:none">O campo Ano de inscrição  é obrigatório.</span>
                                </div>

                            </div>
                        </fieldset>
                    </fieldset>


                    <fieldset class="border p-2">
                        <legend class="w-auto">Dados do encarregado de educação</legend>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="">Nome do encarregado de Educação</label>
                                <input type="text" class="form-control" asp-for="SponsorName">
                                <span asp-validation-for="SponsorName" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">Residência do encarregado de educação</label>
                                <input class="form-control" asp-for="SponsorAddress">
                                <span asp-validation-for="SponsorAddress" class="text-danger"></span>
                            </div>
                        </div>



                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="">Contacto do encarregado de educação</label>

                                @for (int i = 0; i < Model.SponsorContacts.Count(); i++)
                                {
                                    <input type="text" placeholder="Casa/serviço ou numero pessoal" class="form-control" asp-for="SponsorContacts[i]">
                                    <span asp-validation-for="SponsorContacts[i]" class="text-danger"></span>
                                }

                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="border p-2">
                        <legend class="w-auto">Ações</legend>
                        <div class="template-demo">
                            <button type="submit" class="btn  btn-sm btn-info btn-icon-text" onclick="DisableSubmit()" id="submitBtn">
                                Cadastrar
                                <i class="typcn typcn-edit btn-icon-append"></i>
                            </button>
                            <a asp-action="index" asp-controller="studant" class="btn  btn-sm btn-light btn-icon-text">
                                Ir para lista
                            </a>

                        </div>
                    </fieldset>

                </form>


            </div>
        </div>
    </div>


</form>








@section scripts {
    <script src="~/celestial-admin/js/template.js"></script>
    <script>

        function DisableSubmit() {

            // $("#submitBtn").hide();
        }

        function hideMyMonthLabel() {

            $("#MyClassesToStart").hide();
        }

        function ShowMyClassesToStart() {

            $("#MyClassesToStart").show();
        }

        $(document).ready(function () {
            // Verifique se a mensagem está definida
            var mensagem = '@ViewBag.MensagemError';
            if (mensagem) {
                // Exiba a mensagem
                $("#msg-summary").css("display", "block");

                // Remova a mensagem após 5 minutos
                setTimeout(function () {
                    $("#msg-summary").css("display", "none");
                }, 300000);
            }
        });

        $(document).ready(function () {
            $("#provinces").change(function () {
                var ProvincesId = $("#provinces").val();
                $.ajax({
                    url: '/admin/GetDistricts',
                    type: 'GET',
                    data: { Id: ProvincesId },
                    success: function (districts) {
                        $("#district").empty();
                        $.each(districts, function (index, result) {
                            $("#district").append($('<option>', {
                                value: result.id,
                                text: result.description
                            }));
                        });
                    }
                });
            });
        });

        function hideMyMonthLabel() {

            $.ajax({
                url: '/admin/GetSchoolClassRooms',
                type: 'GET',
                data: { Id: $("#SelectSchoolLevel").val() },
                success: function (mydata) {
                    $("#SchoolClassRoom").empty();
                    $.each(mydata, function (index, result) {
                        $("#SchoolClassRoom").append($('<option>', {
                            value: result.id,
                            text: result.description
                        }));
                    });
                }
            });
        }


        $(document).ready(function () {
            // Adicione um evento de mudança ao seu elemento select
            $("#SelectSchoolLevel").change(function () {
                // Verifique se a opção desejada está selecionada
                if ($(this).val() === "...") {
                    // // Desabilite a div
                    $("#monthsDev").prop("disabled", true);
                    $("#monthsDev :input").prop("disabled", true);
                    hideMyMonthLabel();
                } else {
                    hideMyMonthLabel();
                    $("#monthsDev").prop("disabled", false);
                    $("#monthsDev").css("background-color", "");
                    $("#monthsDev :input").prop("disabled", false);

                }

            });

            // Desabilite a div se a opção padrão não for selecionada
            if ($("#SelectSchoolLevel").val() === "...") {
                $("#monthsDev").prop("disabled", true);
                $("#monthsDev :input").prop("disabled", true);
                hideMyMonthLabel();
            }

        });

    </script>
}