@model logic.systems.school.managment.Dto.EditStudantDTO

@{
    ViewData["Title"] = "Actualizar estudante";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<link rel="stylesheet" href="~/css/EditViewBen.css" />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Dashboard</a></li>
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="studant">Lista de Estudantess</a><</li>
        <li class="breadcrumb-item active" aria-current="page">Detalhes</li>
    </ol>
</nav>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body pb-0 pt-2">
            <h2>Estudante</h2>

        </div>
    </div>
</div>




<form asp-action="create" asp-controller="studant">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body ">

                @if (ViewData.ModelState.IsValid)
                {

                }
                else
                {
                    <div id="validation-summary" class="alert alert-danger" role="alert">
                        <p><strong>Por favor, corrija os seguintes erros:</strong></p>
                    </div>
                }

                <div class="alert alert-success" role="alert" id="msg-summary" style="display: @(string.IsNullOrEmpty(ViewBag.Mensagem) ? "none" : "block")">
                    <p><strong>@ViewBag.Mensagem</strong></p>
                </div>


                <div class="row">
                    <div class="col-md-6 col col-sm-12">
                        <fieldset class="p-2">
                            <legend class="w-auto">Dados do estudante</legend>
                            <div class="table-responsive">
                                <table>
                                    <tr>
                                        <td>Nome completo:</td>
                                        <td> <a asp-action="EditStudant" asp-controller="studant" asp-route-id="@Model.id">@Model.Name</a>
                                    </tr>
                                    <tr>
                                        <td>Data de Nasciento:</td>
                                        <td>@Model.BirthDate.ToShortDateString()</td>
                                    </tr>
                                    <tr>
                                        <td>Naturalidade:</td>
                                        <td>@Model.Naturalness</td>
                                    </tr>

                                    <tr>
                                        <td>Província/Distrito:</td>
                                        <td>@Model.DistrictId  </td>
                                    </tr>
                                    <tr>
                                        <td>Sexo:</td>
                                        <td>@Model.Gender  </td>
                                    </tr>
                                    <tr>
                                        <td>BI:</td>
                                        <td>@Model.PersonId  </td>
                                    </tr>
                                    <tr>
                                        <td>Nome do pai:</td>
                                        <td>@Model.FatherName  </td>
                                    </tr>
                                    <tr>
                                        <td>Nome da mãe:</td>
                                        <td>@Model.MatherName  </td>
                                    </tr>
                                    <tr>
                                        <td>Classe actual:</td>
                                        <td>@Model.CurrentSchoolLevelId  </td>
                                    </tr>
                                </table>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-6 col col-sm-12">
                        <fieldset class="p-2">
                            <legend class="w-auto">Dados do encarregado de educação</legend>
                            <div class="table-responsive">
                                <table>
                                    <tr>
                                        <td>Dados do encarregado de educação:</td>
                                        <td>@Model.SponsorName</td>
                                    </tr>
                                    <tr>
                                        <td>Residência do encarregado de educação:</td>
                                        <td>@Model.SponsorAddress</td>
                                    </tr>
                                    <tr>
                                        <td>Contacto do encarregado de educação:</td>
                                        <td>@Model.SponsorContacts[0]</td>
                                    </tr>


                                </table>
                            </div>
                        </fieldset>
                    </div>
                </div> 
                 


                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active   nav-info" data-toggle="tab" href="#home">Mensalidades/Pagamentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu1">Menu 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu2">Menu 2</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="home" class=" tab-pane active">
                        
                        <h3>HOME</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div id="menu1" class=" tab-pane fade">
                        <br>
                        <h3>Menu 1</h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div id="menu2" class=" tab-pane fade">
                        <br>
                        <h3>Menu 2</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                </div>






                <fieldset class="border pt-0">
                    <legend class="w-auto">Ações</legend>
                    <div class="template-demo">
                        <a asp-action="index" asp-controller="studant"  class="btn btn-light btn-icon-text">
                            Voltar para lista
                        </a>
                    </div>
                </fieldset>
            </div>




        </div>
    </div>
</form>


@section scripts {
    <script>
        $(document).ready(function () {
            $("#provinces").change(function () {
                var ProvincesId = $("#provinces").val();
                $.ajax({
                    url: '/admin/GetDistricts',
                    type: 'GET',
                    data: { Id: ProvincesId },
                    success: function (districts) {
                        $("#district").empty();
                        $.each(districts, function (index, result) {
                            $("#district").append($('<option>', {
                                value: result.id,
                                text: result.description
                            }));
                        });
                    }
                });
            });
        });


        $(document).ready(function () {
            // Verifique se a mensagem está definida
            var mensagem = '@ViewBag.Mensagem';
            if (mensagem) {
                // Exiba a mensagem
                $("#msg-summary").css("display", "block");

                // Remova a mensagem após 5 segundos
                setTimeout(function () {
                    $("#msg-summary").css("display", "none");
                }, 3000);
            }
        });

        $(document).ready(function () {
            // Suponhamos que você tenha o id disponível na variável 'idDoObjetoPrincipal'
            getTuitions(@Model.id);
        });


        function getTuitions(id) {
            $.ajax({
                url: "/tuition/IndexByStudantId?id=" + id,
                type: "GET",
                success: function (MyList) {
                    // // Limpe a lista atual na sua página
                    // $("#suaLista").empty();
                    console.log("MyList", MyList);
                    // // Adicione os novos itens à lista na sua página
                    // $.each(lista, function (index, item) {
                    //     $("#suaLista").append("<li>" + item.Nome + "</li>");
                    //     // Adapte conforme necessário para refletir a estrutura do seu objeto
                    // });
                }
            });
        }


    </script>
} 