@model logic.systems.school.managment.Dto.UpdateUserDTO
<link rel="stylesheet" href="~/css/EditViewBen.css" />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">VISIALUZAÇÃO: Utilizador</li>
    </ol>
</nav>

<div class="card mb-4 shadow-1">
    <div class="card-header">
        <h4 class="card-header-title">
            Outras informações
        </h4>
    </div>
    <div class="card-body collapse show" id="collapse9">
        <div class="row">
            <div class="col-12">
                @await Html.PartialAsync("~/Views/Shared/_Alerts.cshtml")
            </div>
        </div>
        <div class="nav-tabs-top">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active show" data-toggle="tab" href="#navs-top-home">Dados Gerais</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#navs-top-profile">Senha</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#navs-top-profile_">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#navs-top-classRoom">Turmas e Disciplinas</a>
                </li>
            </ul>
            <div class="tab-content" style="padding:0">
                <div class="tab-pane fade active show" id="navs-top-home">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <form id="registerForm" method="post" asp-action="updateInfoUser">
                                    <input type="hidden" asp-for="UserInfo.UserId" name="UserInfo.UserId" id="UserInfo.UserId" />
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-floating">
                                        <label asp-for="UserInfo.Email"></label>
                                        <input asp-for="UserInfo.Email" name="UserInfo.Email" class="form-control form-control-sm" aria-required="true" />
                                        <span asp-validation-for="UserInfo.Email" class="text-danger"></span>
                                    </div>
                                    <fieldset class="border p-2">
                                        <legend class="w-auto">Ações</legend>
                                        <div class="template-demo">
                                            <button type="submit" class="btn mt-2  btn-sm btn-info btn-icon-text">
                                                Actualizar
                                                <i class="typcn typcn-edit btn-icon-append"></i>
                                            </button>
                                            <a class="btn  btn-sm btn-light btn-icon-text" href="/users">
                                                Ir para lista
                                            </a>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="navs-top-profile">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <form id="registerForm" asp-action="UpdatePassword" method="post">
                                    <input type="hidden" asp-for="PasswordDTO.UserId" name="PasswordDTO.UserId" id="PasswordDTO.UserId" />
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-floating">
                                        <label> Nova senha</label>
                                        <input asp-for="PasswordDTO.NewPassword" name="PasswordDTO.NewPassword" class="form-control form-control-sm " aria-required="true" />
                                        <span asp-validation-for="PasswordDTO.NewPassword" class="text-danger"></span>
                                    </div>
                                    <fieldset class="border p-2">
                                        <legend class="w-auto">Ações</legend>
                                        <div class="template-demo">
                                            <button type="submit" class="btn mt-2  btn-sm btn-info btn-icon-text">
                                                Actualizar
                                                <i class="typcn typcn-edit btn-icon-append"></i>
                                            </button>
                                            <a class="btn  btn-sm btn-light btn-icon-text" href="/users">
                                                Ir para lista
                                            </a>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="navs-top-profile_">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <form asp-action="UpdateProfile" method="post">
                                    <input type="hidden" asp-for="PasswordDTO.UserId" name="PasswordDTO.UserId" id="PasswordDTO.UserId" />
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-floating">
                                        <label> Perfil </label>
                                        <select asp-for="RoleName" name="RoleName" class="form-control form-control-sm pb-3 pt-3" id="RoleName">
                                            @foreach (IdentityRole item in ViewBag.Roles)
                                            {
                                                <option value="@item.Name">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <fieldset class="border p-2">
                                        <legend class="w-auto">Ações</legend>
                                        <div class="template-demo">
                                            <button type="submit" class="btn mt-2  btn-sm btn-info btn-icon-text">
                                                Actualizar
                                                <i class="typcn typcn-edit btn-icon-append"></i>
                                            </button>
                                            <a class="btn  btn-sm btn-light btn-icon-text" href="/users">
                                                Ir para lista
                                            </a>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="navs-top-classRoom">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-md-6 col-sm-12">
                                <a class="btn btn-sm btn-success btn-icon-text text-white" data-toggle="modal" data-target="#RelationModal">
                                    Adicionar Turmas e Disciplinas do professor
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <fieldset class="border pt-0 mt-0 p-2 pb-0">
                                    <legend class="w-auto p-0 m-0 ">Turmas e Disciplinas </legend>

                                    <div class="table-responsive  p-0 m-0">
                                        <table class="MytabelaItens  p-0 m-0" id="tabelaItens" border="1">
                                            <thead>
                                                <tr>
                                                    <th><center> Classe    </center></th>
                                                    <th><center> Turma    </center></th>
                                                    <th><center> Disciplina    </center></th>
                                                    <th><center> Ano    </center></th>
                                                    <th><center> Ações    </center></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RelationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Conteúdo do modal -->
            <div class="modal-header">
                <h4 class="modal-title">Turmas e Disciplinas do professor</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="configFilterForm">
                    <fieldset class="border pt-0 mt-0 p-2 pb-0">
                        <legend class="w-auto p-0 m-0 ">Filtro </legend>
                        <div class="form-row mb-3">
                            <div class="col-md-12 col-sm-12">
                                <label for="SchoolLevels">Classe</label>
                                <select class="select-control form-control form-control-sm" style="width: 100%;" asp-for="ProfessorConfig.ClassLevel" id="SchoolLevels">
                                    <option selected>... selecione ...</option>
                                    @foreach (SimpleEntity item in ViewBag.SchoolLevels)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }
                                </select>
                                <span id="SchoolLevelsError" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row mb-3">
                            <div class="col-md-12 col-sm-12">
                                <label for="SchoolClassRooms">Turma</label>
                                <select class="select-control form-control form-control-sm" style="width: 100%;" asp-for="ProfessorConfig.ClassRoom" id="SchoolClassRooms">
                                    <option selected>... selecione ...</option>
                                    @foreach (SimpleEntity item in ViewBag.SchoolClassRooms)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }
                                </select>
                                <span id="SchoolClassRoomsError" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row mb-3">
                            <div class="col-md-12 col-sm-12">
                                <label for="Subjects">Disciplina</label>
                                <select class="select-control form-control form-control-sm" style="width: 100%;" asp-for="ProfessorConfig.Subject" id="Subjects">
                                    <option selected>... selecione ...</option>
                                    @foreach (SimpleEntity item in ViewBag.Subjects)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }
                                </select>
                                <span id="SubjectsError" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row mb-3">
                            <div class="col-md-12 col-sm-12">
                                <label for="EnrollmentYears">Ano</label>
                                <select class="select-control form-control form-control-sm" style="width: 100%;" asp-for="ProfessorConfig.EnrollmentYears" id="EnrollmentYears">
                                    <option selected>... selecione ...</option>
                                    @foreach (var item in ViewBag.EnrollmentYears)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                                <span id="EnrollmentYearsError" class="text-danger"></span>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="border p-2">
                        <legend class="w-auto">Ações</legend>
                        <div class="template-demo" id="form_btns">
                            <button type="button" class="btn btn-success btn-icon-text btn-sm" id="addConfigButton" onclick="AddConfig()">
                                Efectuar pagamento
                            </button>
                        </div>
                        <div id="form_spinner" style="display: none;">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>

        function AddConfig() {


            var isValid = true;

            var schoolLevels = $("#SchoolLevels").val();
            var schoolClassRooms = $("#SchoolClassRooms").val();
            var subjects = $("#Subjects").val();
            var enrollmentYears = $("#EnrollmentYears").val();

            if (schoolLevels === "... selecione ..." || !schoolLevels) {
                $("#SchoolLevelsError").text("campo obrigatório");
                isValid = false;
            } else {
                $("#SchoolLevelsError").text("");
            }

            if (schoolClassRooms === "... selecione ..." || !schoolClassRooms) {
                $("#SchoolClassRoomsError").text("campo obrigatório");
                isValid = false;
            } else {
                $("#SchoolClassRoomsError").text("");
            }

            if (subjects === "... selecione ..." || !subjects) {
                $("#SubjectsError").text("campo obrigatório");
                isValid = false;
            } else {
                $("#SubjectsError").text("");
            }

            if (enrollmentYears === "... selecione ..." || !enrollmentYears) {
                $("#EnrollmentYearsError").text("campo obrigatório");
                isValid = false;
            } else {
                $("#EnrollmentYearsError").text("");
            }

            if (!isValid) {
                return;
            }
            console.log("AddConfig", data);
            var data = {
                UserId: "@Model.UserInfo.UserId.ToString()",
                SchoolLevels: schoolLevels,
                SchoolClassRooms: schoolClassRooms,
                Subjects: subjects,
                EnrollmentYears: enrollmentYears
            };
            console.log("AddConfig", data);
            form_btns_hide();
            $.ajax({
                url: "/users/AddConfig",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (result) {
                    if (result.success) {
                        form_btns_show();
                        populateTable("@Model.UserInfo.UserId.ToString()");
                        $('#RelationModal').modal('hide');
                    } else {
                        alert(result.message);
                        form_btns_show();
                    }
                },
                error: function () {
                    alert("Erro ao enviar os dados.");
                    form_btns_show();
                }
            });
        }

        function form_btns_show() {
            $("#form_btns").show();
            $("#form_spinner").hide();
        }

        function form_btns_hide() {
            $("#form_btns").hide();
            $("#form_spinner").show();
        }
    </script>

    <script>
        $(document).ready(function() {
            // Chama a função para popular a tabela assim que a página carregar
            var userId = '@Model.UserInfo.UserId'; // Obtém o UserId da sua Model
            populateTable(userId);
        });

        function populateTable(userId) {
            $.ajax({
                url: "/users/GetProfessorConfigs",
                type: "GET",
                data: { userId: userId },
                success: function (data) {
                    // Limpa o conteúdo da tabela
                    $("#tabelaItens tbody").empty();

                    // Popula a tabela com os dados recebidos
                    $.each(data, function (index, item) {
                        var row = "<tr>" +
                            "<td><center>" + item.classLevel + "</center></td>" +
                            "<td><center>" + item.classRoom + "</center></td>" +
                            "<td><center>" + item.subject + "</center></td>" +
                            "<td><center>" + item.enrollmentYears + "</center></td>" +
                            "<td><center> Ações </center></td>" + // Adicione as ações desejadas aqui
                            "</tr>";
                        $("#tabelaItens tbody").append(row);
                    });
                },
                error: function () {
                    alert("Erro ao carregar dados da tabela.");
                }
            });
        }
    </script>
}