@model logic.systems.school.managment.Dto.UpdateUserDTO
<link rel="stylesheet" href="~/css/EditViewBen.css" />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">VISIALUZAÇÃO: Utilizador</li>
    </ol>
</nav>


<div class="card mb-4 shadow-1">
    <div class="card-header">
        <h4 class="card-header-title">
            Outras informações
        </h4>
    </div>
    <div class="card-body collapse show" id="collapse9">
        <div class="row">
            <div class="col-12">
                @await Html.PartialAsync("~/Views/Shared/_Alerts.cshtml")
            </div>
        </div>
        <div class="nav-tabs-top">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active show" data-toggle="tab" href="#navs-top-home">Dados Gerais</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#navs-top-profile">Senha</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#navs-top-profile_">Perfil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#navs-top-classRoom">Turmas e Disciplinas</a>
                </li>

            </ul>
            <div class="tab-content" style="padding:0">
                <div class="tab-pane fade active show" id="navs-top-home">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <form id="registerForm" method="post" asp-action="updateInfoUser">
                                    <input type="hidden" asp-for="UserInfo.UserId" name="UserInfo.UserId" id="UserInfo.UserId" />
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-floating">
                                        <label asp-for="UserInfo.Email"></label>
                                        <input asp-for="UserInfo.Email" name="UserInfo.Email" class="form-control form-control-sm" aria-required="true" />
                                        <span asp-validation-for="UserInfo.Email" class="text-danger"></span>
                                    </div>
                                    <fieldset class="border p-2">
                                        <legend class="w-auto">Ações</legend>
                                        <div class="template-demo">
                                            <button type="submit" class="btn mt-2  btn-sm btn-info btn-icon-text">
                                                Actualizar
                                                <i class="typcn typcn-edit btn-icon-append"></i>
                                            </button>
                                            <a class="btn  btn-sm btn-light btn-icon-text" href="/users">
                                                Ir para lista
                                            </a>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="tab-pane fade" id="navs-top-profile">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <form id="registerForm" asp-action="UpdatePassword" method="post">
                                    <input type="hidden" asp-for="PasswordDTO.UserId" name="PasswordDTO.UserId" id="PasswordDTO.UserId" />
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-floating">
                                        <label> Nova senha</label>
                                        <input asp-for="PasswordDTO.NewPassword" name="PasswordDTO.NewPassword" class="form-control form-control-sm " aria-required="true" />
                                        <span asp-validation-for="PasswordDTO.NewPassword" class="text-danger"></span>
                                    </div>
                                    <fieldset class="border p-2">
                                        <legend class="w-auto">Ações</legend>
                                        <div class="template-demo">
                                            <button type="submit" class="btn mt-2  btn-sm btn-info btn-icon-text">
                                                Actualizar
                                                <i class="typcn typcn-edit btn-icon-append"></i>
                                            </button>
                                            <a class="btn  btn-sm btn-light btn-icon-text" href="/users">
                                                Ir para lista
                                            </a>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade" id="navs-top-profile_">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <form asp-action="UpdateProfile" method="post">
                                    <input type="hidden" asp-for="PasswordDTO.UserId" name="PasswordDTO.UserId" id="PasswordDTO.UserId" />
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-floating">
                                        <label> Perfil </label>
                                        <select asp-for="RoleName" name="RoleName" class="form-control form-control-sm pb-3 pt-3" id="RoleName">
                                            @foreach (IdentityRole item in ViewBag.Roles)
                                            {
                                                <option value="@item.Name">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <fieldset class="border p-2">
                                        <legend class="w-auto">Ações</legend>
                                        <div class="template-demo">
                                            <button type="submit" class="btn mt-2  btn-sm btn-info btn-icon-text">
                                                Actualizar
                                                <i class="typcn typcn-edit btn-icon-append"></i>
                                            </button>
                                            <a class="btn  btn-sm btn-light btn-icon-text" href="/users">
                                                Ir para lista
                                            </a>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade" id="navs-top-classRoom">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-md-6 col-sm-12">
                                <a class="btn btn-sm btn-success btn-icon-text text-white" data-toggle="modal" data-target="#RelationModal" onclick="form_pay_btns()">
                                    Adicionar Turmas e Disciplinas do professor
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <fieldset class="border pt-0 mt-0 p-2 pb-0">
                                    <legend class="w-auto p-0 m-0 ">Turmas e Disciplinas </legend>

                                    <div class="table-responsive  p-0 m-0">
                                        <table class="MytabelaItens  p-0 m-0" id="tabelaItens" border="1">
                                            <thead>

                                                <tr>

                                                    <th><center> Classe    </center>  </th>
                                                    <th><center> Turma    </center>  </th>
                                                    <th><center> Disciplina    </center>  </th>
                                                    <th><center> Ano    </center>  </th>
                                                    <th><center> Ações    </center>  </th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>

                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="RelationModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Conteúdo do modal -->
            <div class="modal-header">
                <h4 class="modal-title">Turmas e Disciplinas do professor</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">

                <form id="configFilterForm">
                    <fieldset class="border pt-0 mt-0 p-2 pb-0">
                        <legend class="w-auto p-0 m-0 ">Filtro </legend>







                        <div class="form-row mb-3">
                            <div class="col-md-12 col-sm-12">
                                <label for="">Classe</label>
                                <select class="select-control  form-control  form-control-sm" style=" width: 100%;" asp-for="ProfessorConfig.ClassLevel" id="SchoolLevels">
                                    <option selected>... selecione ...</option>
                                    @foreach (SimpleEntity item in ViewBag.SchoolLevels)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }
                                </select>
                                <span asp-validation-for="ProfessorConfig.ClassLevel" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="form-row mb-3">
                            <div class="col-md-12 col-sm-12">
                                <label for="">Turma</label>
                                <select class="select-control form-control form-control-sm" style=" width: 100%;" asp-for="ProfessorConfig.ClassRoom" id="SchoolClassRooms">
                                    <option selected>... selecione ...</option>
                                    @foreach (SimpleEntity item in ViewBag.SchoolClassRooms)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }
                                </select>
                                <span asp-validation-for="ProfessorConfig.ClassRoom" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <div class="col-md-12 col-sm-12">
                                <label for="">Disciplina</label>
                                <select class="select-control form-control form-control-sm" style=" width: 100%;" asp-for="ProfessorConfig.Subject" id="Subjects">
                                    <option selected>... selecione ...</option>
                                    @foreach (SimpleEntity item in ViewBag.Subjects)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }
                                </select>
                                <span asp-validation-for="ProfessorConfig.Subject" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <div class="col-md-12 col-sm-12">
                                <label for="">Ano</label>
                                <select class="select-control form-control  form-control-sm" style=" width: 100%;" asp-for="ProfessorConfig.EnrollmentYears" id="EnrollmentYears">
                                    <option selected>... selecione ...</option>
                                    @foreach (var item in ViewBag.EnrollmentYears)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                                <span asp-validation-for="ProfessorConfig.EnrollmentYears" class="text-danger"></span>
                            </div>
                        </div>
                          
                    </fieldset>
                    <fieldset class="border p-2">
                        <legend class="w-auto">Ações</legend>
                        <div class="template-demo" id="form_pay_btns">
                            <button type="button" class="btn btn-success btn-icon-text btn-sm" onclick="createPayment()">
                                Efectuar pagamento
                            </button>
                        </div>
                        <div id="form_pay_spinner">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>
    </div>
</div>

