@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

<!DOCTYPE html>
<html >
<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - Cooperativa de ensino Kalimany</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/celestial-admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/celestial-admin/vendors/typicons.font/font/typicons.css" />
    <link rel="stylesheet" href="~/celestial-admin/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="~/celestial-admin/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="~/celestial-admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/celestial-admin/css/vertical-layout-light/style.css" />
    <!-- endinject -->
    <link rel="shortcut icon" href="~/celestial-admin/images/favicon.png" />
    <style>
        /* Estilize os selects com erro */
        select.input-validation-error {
            border: 1px solid #ff0000; /* Borda vermelha para indicar erro */
            background-color: #ffeeee; /* Fundo vermelho claro para destacar o erro */
        }

        /* Estilize as mensagens de erro */
        span.field-validation-error {
            color: #ff0000; /* Cor do texto vermelho para mensagens de erro */
        }

        legend {
            font-size: 14px; /* Tamanho da fonte */
            color: #333; /* Cor do texto */
            /* Outras propriedades desejadas */
        }
    </style>

    <style>
        legend.scheduler-border {
            width: inherit; /* Or auto */
            padding: 0 10px; /* To give a bit of padding on the left and right */
            border-bottom: none;
        }
    </style>
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" asp-action="index" asp-controller="home">
                    <img style="width:100%" src="~/celestial-admin/images/logo (2).svg" alt="logo" />
                </a>
                <a class="navbar-brand brand-logo-mini" asp-action="index" asp-controller="home">
                    <label class="text-white">   <img style="width:100%" src="~/celestial-admin/images/topName.png" alt="logo" /> </label>
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav mr-lg-2">

                    <li class="nav-item  d-none d-lg-flex">
                        <a class="nav-link active" href="#">
                            COOPERATIVA DE ENSINO KALIMANY
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle  pl-0 pr-0" href="#" data-toggle="dropdown" id="profileDropdown">
                            <i class="typcn typcn-user-outline mr-0"></i>
                            <span class="nav-profile-name" Utilizador </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            @*       <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                            <i class="typcn typcn-cog text-info"></i>
                            Meu perfil
                            </a> *@
                            <a class="dropdown-item">
                                <i class="typcn typcn-power text-info"></i>
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                </form>
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
                        type="button"
                        data-toggle="offcanvas">
                    <span class="typcn typcn-th-menu"></span>
                </button>
            </div>

        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">

            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <div class="d-flex sidebar-profile">
                            <div class="sidebar-profile-image">
                                <img src="~/celestial-admin/images/faces/face29.png" alt="image" />
                                <span class="sidebar-status-indicator"></span>
                            </div>
                            <div class="sidebar-profile-name">

                                @{
                                    var user = await userManager.GetUserAsync(User);

                                    if (user is not null)
                                    {
                                        <p class="sidebar-designation" style="font-size:10px; color:white"> @user.NormalizedUserName  </p>
                                    }
                                }



                                <p class="sidebar-designation">Bem-vindo</p>


                            </div>
                        </div>
                        <div class="nav-search">
                            <div class="input-group">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Pesquisar aluno..."
                                       aria-label="search"
                                       aria-describedby="search" />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="search">
                                        <i class="typcn typcn-zoom"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <p class="sidebar-menu-title">Dash menu</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="index" asp-controller="home">
                            <i class="typcn typcn-device-desktop menu-icon"></i>
                            <span class="menu-title">
                                Dashboard
                            </span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <p class="sidebar-menu-title">Pedagógia</p>
                        <a class="nav-link"
                           data-toggle="collapse"
                           href="#ui-basic"
                           aria-expanded="false"
                           aria-controls="ui-basic">
                            <i class="typcn typcn-briefcase menu-icon"></i>
                            <span class="menu-title">Estudantes</span>
                            <i class="typcn typcn-chevron-right menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="create" asp-controller="studant">Cadastrar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="index" asp-controller="studant">Listar</a>
                                </li>
                            </ul>
                        </div>
                    </li>
 
                     

                    <li class="nav-item">
                       
                        <a class="nav-link"
                           data-toggle="collapse"
                           href="#auth"
                           aria-expanded="false"
                           aria-controls="auth">
                            <i class="typcn typcn-briefcase menu-icon"></i>
                            <span class="menu-title">
                                Notas
                            </span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="auth">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="index" asp-controller="grade">
                                        Lançamento de Notas
                                    </a>
                                </li> 
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="YearView" asp-controller="grade">
                                        Visualizar Notas
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">

                        <a class="nav-link"
                           data-toggle="collapse"
                           href="#ui-ped"
                           aria-expanded="false"
                           aria-controls="ui-ped">
                            <i class="typcn typcn-briefcase menu-icon"></i>
                            <span class="menu-title">Controle de Faltas</span>

                        </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link"
                           data-toggle="collapse"
                           href="#ui-ped"
                           aria-expanded="false"
                           aria-controls="ui-ped">
                            <i class="typcn typcn-briefcase menu-icon"></i>
                            <span class="menu-title">Consulta de Desempenho</span>

                        </a>
                    </li>

                    <li class="nav-item">
                        <p class="sidebar-menu-title">Relatórios</p>

                        <a class="nav-link"
                           aria-expanded="false"
                           aria-controls="ui-basic" asp-action="index" asp-controller="document">
                            <i class="typcn typcn-briefcase menu-icon"></i>
                            <span class="menu-title">Relatórios</span>
                        </a>
                    </li>





                    <li class="nav-item">
                        <p class="sidebar-menu-title">Definições</p>
                        <a class="nav-link"
                           data-toggle="collapse"
                           href="#auth"
                           aria-expanded="false"
                           aria-controls="auth">
                            <i class="typcn typcn-briefcase menu-icon"></i>
                            <span class="menu-title">
                                Configuração
                            </span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="auth">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="createdistrict" asp-controller="setting">
                                        Adicionar Distritos
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>


                </ul>
                <ul class="sidebar-legend">
                    <li>
                        <img src="~/celestial-admin/images/favicon.png" width="190" />
                    </li>
                    <li>
                        <center> <p class="sidebar-menu-title" style="color:white">versão 2.0.0.5</p></center>
                    </li>

                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">

                    @RenderBody()


                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-center text-sm-left d-block d-sm-inline-block">
                            Copyright ©
                            <a href="https://logicsystems.co.mz/" target="_blank">Logic systems</a>
                            and
                            <a href="#" target="_blank">BestDeal.Mz</a>
                            @DateTime.Now.Year.ToString()
                        </span>

                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="~/celestial-admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/celestial-admin/js/off-canvas.js"></script>
    <script src="~/celestial-admin/js/hoverable-collapse.js"></script>
    @*    <script src="~/celestial-admin/js/template.js"></script> *@
    <script src="~/celestial-admin/js/settings.js"></script>
    <script src="~/celestial-admin/js/todolist.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="~/celestial-admin/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="~/celestial-admin/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    @*     <script src="~/celestial-admin/js/dashboard.js"></script> *@
    <!-- End custom js for this page-->


    <script src="~/celestial-admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="~/celestial-admin/vendors/select2/select2.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="~/celestial-admin/js/file-upload.js"></script>
    <script src="~/celestial-admin/js/typeahead.js"></script>
    <script src="~/celestial-admin/js/select2.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
