@model logic.systems.school.managment.Dto.StudentPageDto

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var roles = await UserManager.GetRolesAsync(user);
    bool isAdmin = roles.Contains("ADMINISTRATOR");
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Dashboard</a></li>
    </ol>
</nav>


@if (isAdmin)
{

    <form asp-action="search" asp-controller="studant">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Filtrar pelo pelo nome do estudante" asp-for="studentName">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <div class="input-group">

                                    <select class="form-control form-control-lg pb-3 pt-2" asp-for="CurrentSchoolLevelId" id="SelectSchoolLevel">
                                        <option selected>... Filtrar pela classe do estudante</option>
                                        @foreach (SimpleEntity item in ViewBag.CurrentSchoolLevels)
                                        {
                                            <option value="@item.Id">@item.Description</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <button type="submit" class="btn btn-info btn-icon-text">
                                Pesquisar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>

}


<div class="col-md-12 grid-margin stretch-card">
    <div class="card mb-0">

        <div class="card-body mb-0">

            <div class="row mb-0">



                <div class="col-md-3 col-sm-12">
                    <blockquote class="blockquote blockquote-default mb-0">
                        <p>Total de estudantes </p>
                        <footer class="blockquote-footer"> @Model.studentTotals.Total </footer>
                    </blockquote>
                </div>
                <div class="col-md-3 col-sm-12">
                    <blockquote class="blockquote blockquote-success mb-0">
                        <p>Total de estudantes Resolvidos</p>
                        <footer class="blockquote-footer">@Model.studentTotals.TotalSolved</footer>
                    </blockquote>
                </div>
                <div class="col-md-3 col-sm-12">
                    <blockquote class="blockquote blockquote-primary mb-0">
                        <p>Total de estudantes Suspensos</p>
                        <footer class="blockquote-footer">@Model.studentTotals.TotalSuspended</footer>
                    </blockquote>
                </div>
                <div class="col-md-3 col-sm-12">
                    <blockquote class="blockquote blockquote-warning mb-0">
                        <p>Total de estudantes Transferidos</p>
                        <footer class="blockquote-footer">@Model.studentTotals.TotalTranfered</footer>
                    </blockquote>
                </div>



            </div>

        </div>
    </div>
</div>


@if (isAdmin)
{

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body pb-0">
                <label>Multas por meses (@DateTime.Now.Year)</label>
                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            </div>
        </div>
    </div>
}




@section scripts {

    <script>



        $(document).ready(function () {
            $.ajax({
                url: '/home/getfeeBymonth',
                type: 'GET',
                success: function (results) {
                    console.log(results);
                    var chart = new CanvasJS.Chart("chartContainer", {
                        animationEnabled: true,
                        theme: "light2", // "light1", "light2", "dark1", "dark2"
                        title: {

                        },
                        axisY: {
                            title: "MT"
                        },
                        data: [{
                            type: "column",
                            showInLegend: true,
                            legendMarkerColor: "grey",
                            legendText: "Meses",
                            dataPoints: results
                        }]
                    });
                    chart.render();
                }
            });
        });

    </script>


    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
}
